@import '../../vendor/css/font-awesome';
@import '../../vendor/css/normalize';

/* Variables */
$fonts: 'Nunito Sans', sans-serif;
$mobilePadding: 18px;
$lightGray: #eee;
$darkGray: #333;
$lightFont: 300;

/* Basic HTML changes */
body {
  font-family: $fonts;
}

ul li {
  margin-bottom: .5em;
}

p {
  margin-top: 0;
  line-height: 1.5em;
}

html {
  background: url(../img/tour-eiffel-bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* Top navbar */
.top-navbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: calc($mobilePadding - 5px) $mobilePadding;
  border-bottom: 1px solid $lightGray;
  background-color: rgba(255, 255, 255, 0.7);
}

.site-brand {
  text-decoration: none;
  color: $darkGray;
  font-size: 1.4em;
  font-weight: 200;
}

.open-nav-button {
  font-size: 1.2em;
  cursor: pointer;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 70px;
  transition: 0.3s;

  a {
    padding: 16px 16px 16px 32px;
    text-decoration: none;
    font-size: 1.4em;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-weight: $lightFont;
    border-bottom: 1px solid #333;
  }

  a:hover {
    color: #f1f1f1;
  }

  .close-nav-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2em;
    border-bottom: 0;
  }

  @media screen and (min-height: 600px) {
    .our-badge {
      position: absolute;
      bottom: 120px;
      border-radius: 75px;
      left: 50px;
      width: 150px;
      height: 150px;
      background: url(../img/jenny-mickael-badge.jpg);
      background-size: 150px;
    }
  }
}

/* Main container */
.container {
  padding: $mobilePadding;
}
